
*{
    font-size: 10px;
    margin: 0;
    margin-bottom: 0;

}

.body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    font-size: 1.6rem;
}
.main{
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    background: #eee;
}
.img-div_p{
    font-size: 1.6rem;
    margin: 8px;
}
.header{
    line-height: 1.5;
}
.img-div{
    background: white;
    padding: 10px;
}

.header_title{
    font-size: 4rem;
}

.header_title-1{
    font-size: 1.6rem;
    line-height: 3.5;
}
.section-1_title{
    margin: 50px 0;
}
.list_item{
    margin: 16px 0;
    font-size: 1.6rem;
}
.list{
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}
.section-1_headline{
    margin: 50px 0;
    font-size: 1.9rem;

}

.list_item_bold-years{
    font-weight: bold;
    font-size: unset;
}
.quote_item-1{
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px;
    text-align: left;
    font-size: 1.6rem;
}

.quote_item-2{
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px;
    text-align: left;
    font-size: 1.6rem;
}

.footer-link{
    font-size: 1.7rem;
    line-height: 3.5;
}

.footer-link_link{
    font-size: 1.7rem;
    line-height: 3.5;
}